# Stage 2 ë°ì´í„° ì‚´í´ë³´ê¸°

<img src='https://drive.google.com/uc?export=download&id=1ZofEHFAnpn-UpkHSwFOVCZeAUgVNS9el' width="" height ="" /><br>

# Intro

ìš°ì„  ë³¸ê²©ì ìœ¼ë¡œ ë°ì´í„°ë¥¼ ì‚´í´ë³´ê¸° ì „ì— ë°ì´í„°ë¥¼ í•œë²ˆ ë¶ˆëŸ¬ì™€ë³¼ê¹Œìš”?

ì§€ë‚œ ì‹œê°„ì— ë°°ìš´ ê²ƒì„ ì˜ ë³µìŠµí•˜ì…¨ë‹¤ë©´ ì´ì œ ë°ì´í„°ë¥¼ ë¶ˆëŸ¬ì˜¤ëŠ” ê²ƒì€ ì–´ë µì§€ ì•Šì„ê±°ì—ìš”!ğŸ¤—

In [1]:
# pandas ë¶ˆëŸ¬ì˜¤ê¸°
import pandas as pd
#train ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
train = pd.read_csv('train.csv')
train

,index,gender,car,reality,child_num,income_total,income_type,edu_type,family_type,house_type,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,work_phone,phone,email,occyp_type,family_size,begin_month,credit
0,0,F,N,N,0,202500.0,Commercial associate,Higher education,Married,Municipal apartment,-13899,-4709,1,0,0,0,NaN,2.0,-6.0,1.0
1,1,F,N,Y,1,247500.0,Commercial associate,Secondary / secondary special,Civil marriage,House / apartment,-11380,-1540,1,0,0,1,Laborers,3.0,-5.0,1.0
2,2,M,Y,Y,0,450000.0,Working,Higher education,Married,House / apartment,-19087,-4434,1,0,1,0,Managers,2.0,-22.0,2.0
3,3,F,N,Y,0,202500.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-15088,-2092,1,0,1,0,Sales staff,2.0,-37.0,0.0
4,4,F,Y,Y,0,157500.0,State servant,Higher education,Married,House / apartment,-15037,-2105,1,0,0,0,Managers,2.0,-26.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26452,26452,F,N,N,2,225000.0,State servant,Secondary / secondary special,Married,House / apartment,-12079,-1984,1,0,0,0,Core staff,4.0,-2.0,1.0
26453,26453,F,N,Y,1,180000.0,Working,Higher education,Separated,House / apartment,-15291,-2475,1,0,0,0,NaN,2.0,-47.0,2.0
26454,26454,F,Y,N,0,292500.0,Working,Secondary / secondary special,Civil marriage,With parents,-10082,-2015,1,0,0,0,Core staff,2.0,-25.0,2.0
26455,26455,M,N,Y,0,171000.0,Working,Incomplete higher,Single / not married,House / apartment,-10145,-107,1,0,0,0,Laborers,1.0,-59.0,2.0
26456,26456,F,N,N,0,81000.0,Working,Secondary / secondary special,Civil marriage,House / apartment,-19569,-1013,1,0,0,0,Security staff,2.0,-9.0,2.0

In [2]:
#test ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
test = pd.read_csv('test.csv')
test

,index,gender,car,reality,child_num,income_total,income_type,edu_type,family_type,house_type,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,work_phone,phone,email,occyp_type,family_size,begin_month
0,26457,M,Y,N,0,112500.0,Pensioner,Secondary / secondary special,Civil marriage,House / apartment,-21990,365243,1,0,1,0,NaN,2.0,-60.0
1,26458,F,N,Y,0,135000.0,State servant,Higher education,Married,House / apartment,-18964,-8671,1,0,1,0,Core staff,2.0,-36.0
2,26459,F,N,Y,0,69372.0,Working,Secondary / secondary special,Married,House / apartment,-15887,-217,1,1,1,0,Laborers,2.0,-40.0
3,26460,M,Y,N,0,112500.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-19270,-2531,1,1,0,0,Drivers,2.0,-41.0
4,26461,F,Y,Y,0,225000.0,State servant,Higher education,Married,House / apartment,-17822,-9385,1,1,0,0,Managers,2.0,-8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,36452,F,Y,Y,0,202500.0,Working,Incomplete higher,Married,House / apartment,-18593,-5434,1,1,1,0,Accountants,2.0,-19.0
9996,36453,M,Y,Y,0,202500.0,Working,Secondary / secondary special,Civil marriage,House / apartment,-10886,-1315,1,1,0,0,Laborers,2.0,-34.0
9997,36454,F,N,Y,0,292500.0,Working,Secondary / secondary special,Married,House / apartment,-21016,-14018,1,0,0,0,Medicine staff,2.0,-55.0
9998,36455,F,Y,N,0,180000.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-16541,-1085,1,0,1,0,NaN,2.0,-33.0
9999,36456,F,N,Y,0,270000.0,Working,Higher education,Married,House / apartment,-9154,-187,1,0,0,1,Laborers,2.0,-11.0

In [3]:
#submission ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
submission = pd.read_csv('sample_submission.csv')
submission

      index  0  1  2
0     26457  0  0  0
1     26458  0  0  0
2     26459  0  0  0
3     26460  0  0  0
4     26461  0  0  0
...     ... .. .. ..
9995  36452  0  0  0
9996  36453  0  0  0
9997  36454  0  0  0
9998  36455  0  0  0
9999  36456  0  0  0

[10000 rows x 4 columns]

ë³¸ê²©ì ì¸ ë‚´ìš©ì— ë“¤ì–´ê°€ê¸°ì— ì•ì„œ, ë°ì´í„° ë¶„ì„ì„ ì²˜ìŒ ì ‘í•˜ì‹œëŠ” ë¶„ë“¤ì€ ì˜ì•„í•´í•˜ì‹¤ ìˆ˜ë„ ìˆëŠ” Train, Test ë°ì´í„°ì— ê°œë…ì— ëŒ€í•´ ì„¤ëª…ë“œë¦´ê¹Œ í•´ìš”.

Train Setì€ ëª¨ë¸ì„ í•™ìŠµí•˜ê¸° ìœ„í•œ DataSetìœ¼ë¡œ, ì˜¤ì§ ìœ ì¼í•˜ê²Œ Train ë°ì´í„°ë§Œìœ¼ë¡œ í•™ìŠµì„ ì§„í–‰í•´ì•¼ í•©ë‹ˆë‹¤.

Test Setì€ Validation ë°ì´í„°ë¡œ ì–´ë–¤ ëª¨ë¸ì„ ì‚¬ìš©í• ì§€ë¥¼ ê²°ì •í•œ í›„ì— 
ìµœì¢…ì ìœ¼ë¡œ í•´ë‹¹ ëª¨ë¸ì˜ ì˜ˆìƒ ì„±ëŠ¥ì„ ì¸¡ì •í•˜ê¸° ìœ„í•´ ì‚¬ìš©ë©ë‹ˆë‹¤.

---

<font color="coral">**ê·¸ë ‡ë‹¤ë©´ ì™œ ë°ì´í„°ë¥¼ Trainê³¼ Testë¡œ ë‚˜ëˆ„ì–´ì•¼ í• ê¹Œìš”?**</font>ğŸ¤”

Train ë°ì´í„°ëŠ” ìš°ë¦¬ê°€ ì•Œê³  ìˆëŠ” ì •ë³´ì´ë©°, 
ìš°ë¦¬ì˜ ìµœì¢… ëª©ì ì€ ì´ë¯¸ ì•Œê³  ìˆëŠ” ì •ë³´ë¥¼ í†µí•´ Unseen Data, ì¦‰, ìš°ë¦¬ê°€ ì•Œê³ ìˆì§€ ì•Šì€ ë°ì´í„°ë¥¼ ì˜ˆì¸¡ ë¶„ë¥˜í•˜ëŠ” ê²ƒì…ë‹ˆë‹¤.
**<font color="green">ë”°ë¼ì„œ í˜„ì¬ ê°€ì§€ê³  ìˆëŠ” ë°ì´í„°ë¥¼ Trainê³¼ Testë¡œ ë‚˜ëˆˆ í›„ Trainì„ í•™ìŠµì‹œì¼œ ìµœì ì˜ ë§¤ê°œë³€ìˆ˜ë¥¼ ì°¾ê³ ,
Testë¥¼ í†µí•´ ëª¨ë¸ì˜ ì„±ëŠ¥ì„ í‰ê°€í•©ë‹ˆë‹¤.</font>** ì´ë•Œ, Test ë°ì´í„°ê°€ Unseen Dataì˜ ì—­í• ì„ í•˜ëŠ” ê²ƒì´ì£ .

<img src='https://drive.google.com/uc?export=download&id=1uT8RBqCyDLexQK_5pr0pmznVOPRwfUeY' width="" height ="" /><br>
ì¶œì²˜: https://towardsdatascience.com/train-test-split-and-cross-validation-in-python-80b61beca4b6

# 1. ë°ì´í„° íƒ€ì… íŒŒì•…í•˜ê¸°

ì ì´ì œ ë°ì´í„°ë¥¼ ë¶ˆëŸ¬ì™”ìœ¼ë‹ˆ ë³¸ê²©ì ìœ¼ë¡œ ë°ì´í„°ì˜ íŠ¹ì§•ì„ íŒŒì•…í•´ë³´ë„ë¡ í• ê²Œìš”!ğŸ˜Š


ë°ì´í„° ë¶„ì„ ê³¼ì •ì—ì„œ ëª¨ë¸ì„ ì‘ì„±í•˜ê¸° ì „ì— **<font color="green">ë°ì´í„°ê°€ ì–´ë–¤ íŠ¹ì§•ì„ ê°€ì§€ê³  ìˆëŠ”ì§€ íŒŒì•…í•˜ê³ , ì´ë¥¼ ì–´ë–»ê²Œ ì²˜ë¦¬í• ê±´ì§€ íŒë‹¨í•˜ëŠ” ì‘ì—…</font>**ì€ ë§¤ìš° ì¤‘ìš”í•˜ë‹µë‹ˆë‹¤. 
ê¸°ë³¸ì ìœ¼ë¡œ ë°ì´í„° ìì²´ì— ëŒ€í•œ í•´ì„ì´ ì˜ëª»ë˜ë©´, ê·¸ ì´í›„ì— ì§„í–‰í•˜ëŠ” ëª¨ë“  ì‘ì—…ë“¤ì´ ëª¨ë‘ ë¬´ìš©ì§€ë¬¼ì´ ë˜ë²„ë¦¬ê¸° ë•Œë¬¸ì¸ë°ìš”. 


ë”°ë¼ì„œ ë°ì´í„°ë¥¼ <font color="coral">**'ì œëŒ€ë¡œ'**</font>ì´í•´í•˜ëŠ”ë°ì— ë§ì€ ì‹œê°„ì„ íˆ¬ì í•  í•„ìš”ê°€ ìˆìŠµë‹ˆë‹¤!

ê·¸ë ‡ë‹¤ë©´ ë°ì´í„° íƒ€ì…ì˜ ì¢…ë¥˜ì—ëŠ” ì–´ë–¤ ê²ƒë“¤ì´ ìˆëŠ”ì§€ë¶€í„° ì•Œì•„ë³¼ í•„ìš”ê°€ ìˆì„ ê²ƒ ê°™ì•„ìš”!
ì§€ë‚œ ì‹œê°„ì— ë°°ìš´ <font color="Sky Blue">**info() í•¨ìˆ˜**</font>ë¥¼ ì´ìš©í•œë‹¤ë©´ ìš°ë¦¬ê°€ ê°€ì§€ê³  ìˆëŠ” ë°ì´í„°ì˜ íƒ€ì…ì„ ì•Œì•„ ë³¼ ìˆ˜ ìˆë‹µë‹ˆë‹¤.

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26457 entries, 0 to 26456
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          26457 non-null  int64
 1   gender         26457 non-null  object
 2   car            26457 non-null  object
 3   reality        26457 non-null  object
 4   child_num      26457 non-null  int64
 5   income_total   26457 non-null  float64
 6   income_type    26457 non-null  object
 7   edu_type       26457 non-null  object
 8   family_type    26457 non-null  object
 9   house_type     26457 non-null  object
 10  DAYS_BIRTH     26457 non-null  int64
 11  DAYS_EMPLOYED  26457 non-null  int64
 12  FLAG_MOBIL     26457 non-null  int64
 13  work_phone     26457 non-null  int64
 14  phone          26457 non-null  int64
 15  email          26457 non-null  int64
 16  occyp_type     18286 non-null  object
 17  family_size    26457 non-null  float64
 18  begin_month    26457 non-null  float64
 19  credit         26457 non-null  float64
dtypes: float64(4), int64(8), object(8)
memory usage: 4.0+ MB

---
Dtypeì„ ë³´ë©´ int64, object, float64 ì´ë ‡ê²Œ ì´ ì„¸ê°€ì§€ íƒ€ì…ìœ¼ë¡œ êµ¬ì„±ë˜ì–´ ìˆëŠ” ê²ƒì„ ì•Œ ìˆ˜ ìˆëŠ”ë°ìš”.
ë°ì´í„°ëŠ” ë°ì´í„°ì˜ ì†ì„±ì— ë”°ë¼ ë¶„ì„í•˜ëŠ” ë°©ë²•ì´ ë‹¬ë¼ì§€ê¸° ë•Œë¬¸ì— êµ¬ì²´ì ìœ¼ë¡œ ë°ì´í„° íƒ€ì…ì˜ ì¢…ë¥˜ì— ëŒ€í•´ ì•Œì•„ë³´ë„ë¡ í• ê²Œìš”!

**1. ìˆ˜ì¹˜í˜•(Numerical)**

'ìˆ˜ì¹˜'ë¼ëŠ” ë§ì—ì„œ ì•Œ ìˆ˜ ìˆë“¯ì´ ìˆ˜ì¹˜í˜• ë°ì´í„°ëŠ” ìˆ«ìë¡œ ì´ë£¨ì–´ì§„ ë°ì´í„°ì…ë‹ˆë‹¤. ì–‘ì  ë³€ìˆ˜ë¼ê³  ë¶€ë¥´ê¸°ë„ í•˜ëŠ”ë°ìš”!
ìˆ˜ì¹˜í˜•ì€ í¬ê²Œ ì´ì‚°í˜•ê³¼ ì—°ì†í˜•ìœ¼ë¡œ ë‚˜ëˆŒ ìˆ˜ ìˆì–´ìš”.
    
        1) ì´ì‚°í˜•(Descrete)
        ì´ì‚°í˜• ë°ì´í„°ëŠ” ë³€ìˆ˜ê°€ ê°€ì§ˆ ìˆ˜ ìˆëŠ” ê°’ì˜ ê°œìˆ˜ê°€ ìœ í•œê°œì´ê³  ì •ìˆ˜ì˜ í˜•íƒœë¡œ í‘œí˜„ ê°€ëŠ¥í•œ ë°ì´í„°ë¥¼ ë§í•©ë‹ˆë‹¤.
        ex) ì‚¬ëŒ ìˆ˜, ì‚¬ê³  ê±´ìˆ˜
       
        2) ì—°ì†í˜•(Continuous)
           ì—°ì†í˜• ë°ì´í„°ëŠ” ì†Œìˆ˜ì ìœ¼ë¡œ í‘œí˜„ì´ ê°€ëŠ¥í•œ ë°ì´í„°ì…ë‹ˆë‹¤.
        ex) ëª¸ë¬´ê²Œ, ì‹œê°„, ê¸¸ì´
---
**2. ë²”ì£¼í˜•(Categorical)**

ë²”ì£¼í˜• ë°ì´í„°ëŠ” ìˆ«ìë¡œ ì¸¡ì •í•  ìˆ˜ëŠ” ì—†ì§€ë§Œ, ì—¬ëŸ¬ ê°œì˜ ê°’ìœ¼ë¡œ ë‚˜ëˆŒ ìˆ˜ ìˆëŠ” ë°ì´í„°ì…ë‹ˆë‹¤. ì§ˆì  ë³€ìˆ˜ë¼ê³  ë¶€ë¥´ê¸°ë„ í•˜êµ¬ìš”.
ë²”ì£¼í˜•ì€ í¬ê²Œ ëª…ëª©í˜•ê³¼ ìˆœì„œí˜•ìœ¼ë¡œ ë‚˜ëˆŒ ìˆ˜ ìˆì–´ìš”.
    
        1) ëª…ëª©í˜•(Nominal)
           ëª…ëª©í˜• ë°ì´í„°ëŠ” ìˆœì„œë¥¼ ë§¤ê¸¸ ìˆ˜ ì—†ëŠ” ë°ì´í„°ì…ë‹ˆë‹¤.
         ex) ì¢…êµ, ìƒ‰ê¹”, ì„±ë³„
        
        2) ìˆœì„œí˜•(Ordinal)
           ìˆœì„œí˜• ë°ì´í„°ëŠ” ë°ì´í„°ë“¤ì´ ì–´ë–¤ ê¸°ì¤€ì— ë”°ë¼ ìˆœì„œì˜ ì˜ë¯¸ë¥¼ ë¶€ì—¬ë°›ì€ ë°ì´í„°ì…ë‹ˆë‹¤.
        ex) ì›”, ì‹œê°„
---

ê·¸ë ‡ë‹¤ë©´ íŒë‹¤ìŠ¤ ë°ì´í„° íƒ€ì…ì—ì„œëŠ” ì–´ë–»ê²Œ í‘œí˜„ë ê¹Œìš”? í•œë²ˆ ì•Œì•„ë³´ë„ë¡ í•©ì‹œë‹¤!

- object: ë¬¸ìì—´, í˜¹ì€ ë¬¸ìì™€ ìˆ«ìê°€ í˜¼í•©ëœ ë°ì´í„°
- int: ìˆ˜ì¹˜í˜• ë°ì´í„°ì´ë©° ì •ìˆ˜ í˜•íƒœ
- float: ìˆ˜ì¹˜í˜• ë°ì´í„°ì´ë©° ì‹¤ìˆ˜ í˜•íƒœ
- bool: ë°ì´í„°ê°€ ì°¸ê³¼ ê±°ì§“ ë‘ ê°€ì§€ ê°’ìœ¼ë¡œë§Œ ì´ë£¨ì–´ì§„ ê²½ìš°
- datetime: ë‚ ì§œì™€ ì‹œê°„ì„ ë‚˜íƒ€ë‚´ëŠ” ë°ì´í„° íƒ€ì…
- category: ë²”ì£¼í˜• ë°ì´í„°ì´ë©° ìˆœì„œ ì§€ì •ì´ ê°€ëŠ¥í•˜ê³ , objectí˜•ë³´ë‹¤ ë” ë¹ ë¥¸ ê³„ì‚°ì´ ê°€ëŠ¥í•œ í˜•íƒœ
---

íŒë‹¤ìŠ¤ì—ì„œëŠ” ì´ ë°ì´í„° íƒ€ì…ì„ í•„ìš”ì— ë”°ë¼ ë³€í™˜í•˜ëŠ” ê¸°ëŠ¥ì„ ì œê³µí•˜ê³  ìˆì–´ìš”.

ê·¸ ì „ì— ë¨¼ì € <font color="sky blue">**dtypes**</font>ë¼ëŠ” ì†ì„±ì— ëŒ€í•´ ë¨¼ì € ì•Œì•„ë³´ë„ë¡ í• ê²Œìš”!
ê° ì—´ì— ëŒ€í•´ ë°ì´í„° íƒ€ì…ê³¼ ê²°ì¸¡ê°’ ê°œìˆ˜, ì¸ë±ìŠ¤ ì •ë³´ ë“±ì„ ì œê³µí•˜ëŠ” info() í•¨ìˆ˜ì™€ëŠ” ë‹¤ë¥´ê²Œ 
dtypes ì†ì„±ì€ ë°ì´í„°í”„ë ˆì„ ê° ì—´ì˜ ìë£Œí˜•ë§Œì„ ì œê³µí•©ë‹ˆë‹¤. 
ì´ ë•Œ, dtypes()ì²˜ëŸ¼ ë©”ì†Œë“œ í˜•íƒœë¡œ ì‚¬ìš©í•˜ì§€ ì•Šì•„ì•¼ í•œë‹¤ëŠ” ì  ìœ ì˜í•´ì£¼ì„¸ìš”.

ê·¸ëŸ¼ í•œë²ˆ ì ìš©í•´ë„ë¡ í•©ì‹œë‹¤.

In [7]:
train.dtypes

index              int64
gender            object
car               object
reality           object
child_num          int64
income_total     float64
income_type       object
edu_type          object
family_type       object
house_type        object
DAYS_BIRTH         int64
DAYS_EMPLOYED      int64
FLAG_MOBIL         int64
work_phone         int64
phone              int64
email              int64
occyp_type        object
family_size      float64
begin_month      float64
credit           float64
dtype: object

ì´ë ‡ê²Œ ê° ì—´ë“¤ì´ ë¬´ìŠ¨ ë°ì´í„° íƒ€ì…ì„ ê°€ì§€ê³  ìˆëŠ”ì§€ë¥¼ ì•Œ ìˆ˜ ìˆëŠ”ë°ìš”. 
ê·¸ë ‡ë‹¤ë©´ ì–´ë–»ê²Œ ê¸°ì¡´ì˜ ë°ì´í„° íƒ€ì…ì„ ì›í•˜ëŠ” ë°ì´í„° íƒ€ì…ìœ¼ë¡œ ë³€í™˜í•  ìˆ˜ ìˆì„ê¹Œìš”?
ë°”ë¡œ <font color="sky blue">**astype í•¨ìˆ˜**</font>ë¥¼ ì´ìš©í•˜ë©´ ë©ë‹ˆë‹¤!
ì´ í•¨ìˆ˜ëŠ” ë°ì´í„°í”„ë ˆì„ ì „ì²´ì˜ íƒ€ì…ì„ ì§€ì •í•œ íƒ€ì… í˜•íƒœë¡œ í•œë²ˆì— ë°”ê¿€ ìˆ˜ ìˆë„ë¡ í•©ë‹ˆë‹¤.

ê·¸ëŸ¼ í•œë²ˆ í•´ë³¼ê¹Œìš”?

In [10]:
#trainì˜ ë°ì´í„° íƒ€ì…ì„ objectë¡œ ë³€ê²½í•˜ì—¬ í• ë‹¹
train = train.astype('object')
#trainì˜ ë°ì´í„° íƒ€ì… í™•ì¸
train.dtypes

index            object
gender           object
car              object
reality          object
child_num        object
income_total     object
income_type      object
edu_type         object
family_type      object
house_type       object
DAYS_BIRTH       object
DAYS_EMPLOYED    object
FLAG_MOBIL       object
work_phone       object
phone            object
email            object
occyp_type       object
family_size      object
begin_month      object
credit           object
dtype: object

íŠ¹ì • ì—´ì„ ì§€ì •í•˜ì—¬ ë°ì´í„° íƒ€ì…ì„ ë³€ê²½ í•˜ëŠ” ê²ƒë„ ê°€ëŠ¥í•©ë‹ˆë‹¤.

ì˜ˆì‹œë¥¼ ë³¼ê²Œìš”.

In [21]:
train['child_num'] = train['child_num'].astype('float64')
train.dtypes

index              int64
gender            object
car               object
reality           object
child_num        float64
income_total     float64
income_type       object
edu_type          object
family_type       object
house_type        object
DAYS_BIRTH         int64
DAYS_EMPLOYED      int64
FLAG_MOBIL         int64
work_phone         int64
phone              int64
email              int64
occyp_type        object
family_size      float64
begin_month      float64
credit           float64
dtype: object

### Inst.
- train ë°ì´í„°ì˜ 'begin_month' ì—´ì˜ ë°ì´í„° íƒ€ì…ì„ ì •ìˆ˜ í˜•íƒœë¡œ ë°”ê¿”ë³´ì„¸ìš”.

- ë°ì´í„° íƒ€ì…ì„ ë‹¤ì‹œ í™•ì¸í•´ë³´ì„¸ìš”.

In [ ]:
# train ë°ì´í„°ì˜ 'begin_month' ì—´ì˜ ë°ì´í„° íƒ€ì…ì„ ì •ìˆ˜ í˜•íƒœë¡œ ë°”ê¿”ë³´ì„¸ìš”.

# ë°ì´í„° íƒ€ì…ì„ ë‹¤ì‹œ í™•ì¸í•´ë³´ì„¸ìš”.

### Hint.
- ì •ìˆ˜ í˜•íƒœë¡œ ë³€ê²½í•˜ë ¤ë©´ int64ë¥¼ ì´ìš©í•´ì•¼ í•©ë‹ˆë‹¤.

### Solution.

In [22]:
train['begin_month'] = train['begin_month'].astype('int64')
train.dtypes

index              int64
gender            object
car               object
reality           object
child_num        float64
income_total     float64
income_type       object
edu_type          object
family_type       object
house_type        object
DAYS_BIRTH         int64
DAYS_EMPLOYED      int64
FLAG_MOBIL         int64
work_phone         int64
phone              int64
email              int64
occyp_type        object
family_size      float64
begin_month        int64
credit           float64
dtype: object

# 2. ë°ì´í„° í´ë Œì§•

<img src='https://drive.google.com/uc?export=download&id=18ecUocfrAn6DYjLTnujzYsdbgW678f95' width="" height ="" /><br>

ë‹¤ìŒì€ ë³¸ê²©ì ìœ¼ë¡œ ë°ì´í„° ì „ì²˜ë¦¬ì— ëŒ€í•´ ì•Œì•„ë³´ë„ë¡ í• ê²Œìš”!

ë°ì´í„°ë¥¼ ë¶„ì„í•˜ê¸° ì¢‹ê²Œ ë°ì´í„°ë¥¼ ê³ ì¹˜ëŠ” ëª¨ë“  ì‘ì—…ì„ <font color="sky blue">**ë°ì´í„° ì „ì²˜ë¦¬(Data Preprocessing)**</font>ì´ë¼ê³  í•©ë‹ˆë‹¤.
ì „ì²˜ë¦¬ëŠ” ë¶„ì„ ê²°ê³¼ ë° ëª¨ë¸ ì„±ëŠ¥ì— ì§ì ‘ì ì¸ ì˜í–¥ì„ ë¯¸ì¹˜ê¸° ë•Œë¬¸ì— 
ëª¨ë“  ë°ì´í„° ë¶„ì„ í”„ë¡œì íŠ¸ì—ì„œ <font color="coral">**'ë°˜ë“œì‹œ'**</font> ê±°ì³ì•¼ í•˜ëŠ” ê³¼ì •ì…ë‹ˆë‹¤.

ì‹¤ì œë¡œ í•œ ì„¤ë¬¸ì¡°ì‚¬ì— ì˜í•˜ë©´ ë¶„ì„ê°€ë“¤ì€ ë°ì´í„°ë¥¼ ìˆ˜ì§‘í•˜ê³  ì „ì²˜ë¦¬ í•˜ëŠ”ë°ì— 
ì•½ 80% ì´ìƒì˜ ì‹œê°„ì„ íˆ¬ìí•œë‹¤ê³  ë‹µí–ˆì„ë§Œí¼ ë§¤ìš° ì¤‘ìš”í•œ ì‘ì—…ì´ë¼ê³  í•  ìˆ˜ ìˆê² ëŠ”ë°ìš”.

ì´ë²ˆ ì‹œê°„ì—ëŠ” ë°ì´í„° ì „ì²˜ë¦¬ ê³¼ì • ì¤‘ì—ì„œë„ <font color="sky blue">**ë°ì´í„° í´ë Œì§•(Data Cleansing)**</font>ì— ëŒ€í•´ ì•Œì•„ë³´ë„ë¡ í•˜ê² ìŠµë‹ˆë‹¤.

## 2.1 ê²°ì¸¡ì¹˜ ì²˜ë¦¬

ê²°ì¸¡ì¹˜ë€ ë°ì´í„° ë‚´ì— í‘œê¸°ë˜ì§€ ì•Šì€ ê°’ì„ ì˜ë¯¸í•©ë‹ˆë‹¤.
ëŒ€ë¶€ë¶„ì˜ ë¨¸ì‹ ëŸ¬ë‹ ì•Œê³ ë¦¬ì¦˜ì€ ëˆ„ë½ëœ ë°ì´í„°ê°€ ìˆìœ¼ë©´ ì œëŒ€ë¡œ ëœ ì—­í• ì„ í•˜ì§€ ëª»í•˜ê¸° ë•Œë¬¸ì— 
ì´ì— ëŒ€í•´ ì ì ˆí•œ ì²˜ë¦¬ë¥¼ í•´ì£¼ì–´ì•¼ í•©ë‹ˆë‹¤.

**ê²°ì¸¡ì¹˜ëŠ” ë¯¸ì§€ì˜ ê°’, í™•ì •ë˜ì§€ ì•Šì€ ê°’ì„ ì˜ë¯¸í•˜ë©° 0ì´ë‘ì€ ë‹¤ë¥´ë‹¤ëŠ” ì  ì£¼ì˜í•´ì£¼ì„¸ìš”!**

ê·¸ë ‡ë‹¤ë©´ ì´ ê²°ì¸¡ì¹˜ëŠ” ì–´ë–»ê²Œ í™•ì¸í•  ìˆ˜ ìˆì„ê¹Œìš”?
ë°”ë¡œ <font color="sky blue">**isnull() í•¨ìˆ˜**</font>ë¥¼ ì´ìš©í•˜ë©´ ê°„ë‹¨í•˜ê²Œ ê²°ì¸¡ì¹˜ ì—¬ë¶€ë¥¼ í™•ì¸í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

In [11]:
# train ë°ì´í„° ê²°ì¸¡ì¹˜ ì—¬ë¶€
train.isnull()

,index,gender,car,reality,child_num,income_total,income_type,edu_type,family_type,house_type,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,work_phone,phone,email,occyp_type,family_size,begin_month,credit
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26452,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
26453,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
26454,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
26455,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
26456,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

isnull() í•¨ìˆ˜ëŠ” ê²°ì¸¡ ë°ì´í„°ë©´ True ê°’ì„, ì•„ë‹Œ ë°ì´í„°ëŠ” False ê°’ì„ ë°˜í™˜í•´ì¤ë‹ˆë‹¤.
ì´ isnull() í•¨ìˆ˜ì— sum() í•¨ìˆ˜ë¥¼ ë”í•´ì¤€ë‹¤ë©´ ê°„ë‹¨í•˜ê²Œ ì—´ ë³„ ê²°ì¸¡ì¹˜ ê°œìˆ˜ë„ êµ¬í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

In [13]:
# train ë°ì´í„° ê²°ì¸¡ì¹˜ ê°œìˆ˜
train.isnull().sum()

index               0
gender              0
car                 0
reality             0
child_num           0
income_total        0
income_type         0
edu_type            0
family_type         0
house_type          0
DAYS_BIRTH          0
DAYS_EMPLOYED       0
FLAG_MOBIL          0
work_phone          0
phone               0
email               0
occyp_type       8171
family_size         0
begin_month         0
credit              0
dtype: int64

ê·¸ë ‡ë‹¤ë©´ ì´ëŸ¬í•œ ê²°ì¸¡ì¹˜ëŠ” ì–´ë–»ê²Œ ì²˜ë¦¬í•´ì•¼ í• ê¹Œìš”?

ëŒ€í‘œì ì¸ ê²°ì¸¡ì¹˜ ì²˜ë¦¬ ë°©ë²•ìœ¼ë¡œëŠ” í¬ê²Œ ì œê±°ì™€ ëŒ€ì¹˜ê°€ ìˆìŠµë‹ˆë‹¤.
ê·¸ëŸ¼ ìì„¸íˆ ì•Œì•„ë³¼ê¹Œìš”?

### 2.1.1 ì œê±°(Deletion)

ì œê±°ëŠ” ê²°ì¸¡ì¹˜ ì²˜ë¦¬ ë°©ë²• ì¤‘ ê°€ì¥ ê°„ë‹¨í•œ ë°©ë²•ìœ¼ë¡œ ê²°ì¸¡ì¹˜ê°€ í¬í•¨ëœ í–‰ ì „ë¶€ í˜¹ì€ ì¼ë¶€ë¥¼ ì œê±°í•˜ëŠ” ê²ƒì…ë‹ˆë‹¤.
ìƒ˜í”Œ ìˆ˜ê°€ ì¶©ë¶„í•˜ë‹¤ë©´ ì‚¬ìš©í•˜ëŠ” ê²ƒì´ ì¢‹ì•„ìš”.

Pandasì—ì„œ ì œê³µí•˜ëŠ” dropna() í•¨ìˆ˜ë¥¼ ì´ìš©í•˜ë©´ ì‰½ê²Œ ê²°ì¸¡ì¹˜ë¥¼ ì œê±°í•  ìˆ˜ ìˆë‹µë‹ˆë‹¤.
ì˜ˆì‹œë¥¼ í•œë²ˆ ë³¼ê²Œìš”.

In [18]:
train.dropna()

,index,gender,car,reality,child_num,income_total,income_type,edu_type,family_type,house_type,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,work_phone,phone,email,occyp_type,family_size,begin_month,credit
1,1,F,N,Y,1,247500.0,Commercial associate,Secondary / secondary special,Civil marriage,House / apartment,-11380,-1540,1,0,0,1,Laborers,3.0,-5.0,1.0
2,2,M,Y,Y,0,450000.0,Working,Higher education,Married,House / apartment,-19087,-4434,1,0,1,0,Managers,2.0,-22.0,2.0
3,3,F,N,Y,0,202500.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-15088,-2092,1,0,1,0,Sales staff,2.0,-37.0,0.0
4,4,F,Y,Y,0,157500.0,State servant,Higher education,Married,House / apartment,-15037,-2105,1,0,0,0,Managers,2.0,-26.0,2.0
5,5,F,N,Y,2,270000.0,Working,Secondary / secondary special,Married,House / apartment,-13413,-4996,1,0,0,1,High skill tech staff,4.0,-18.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26451,26451,F,N,Y,0,202500.0,Working,Higher education,Married,House / apartment,-12831,-803,1,1,1,0,Accountants,2.0,-44.0,1.0
26452,26452,F,N,N,2,225000.0,State servant,Secondary / secondary special,Married,House / apartment,-12079,-1984,1,0,0,0,Core staff,4.0,-2.0,1.0
26454,26454,F,Y,N,0,292500.0,Working,Secondary / secondary special,Civil marriage,With parents,-10082,-2015,1,0,0,0,Core staff,2.0,-25.0,2.0
26455,26455,M,N,Y,0,171000.0,Working,Incomplete higher,Single / not married,House / apartment,-10145,-107,1,0,0,0,Laborers,1.0,-59.0,2.0
26456,26456,F,N,N,0,81000.0,Working,Secondary / secondary special,Civil marriage,House / apartment,-19569,-1013,1,0,0,0,Security staff,2.0,-9.0,2.0

ì°¨ì´ê°€ ë³´ì´ì‹œë‚˜ìš”?

ê²°ì¸¡ì¹˜ê°€ ì œê±°ë˜ì–´ ì›ë˜ train ë°ì´í„°ì™€ ë¹„êµí–ˆì„ë•Œ í–‰ ê°œìˆ˜ê°€ ë‹¬ë¼ì§„ ê²ƒì„ ì•Œ ìˆ˜ ìˆìŠµë‹ˆë‹¤.
ì´ë•Œ ê´„í˜¸ë¥¼ ë¹„ì›Œë‘ê±°ë‚˜ axis = 0 ì´ë¼ê³  ì§€ì •í•´ì£¼ë©´ ê²°ì¸¡ì¹˜ê°€ ìˆëŠ” í–‰ì´ ì‚­ì œë©ë‹ˆë‹¤.
ë°˜ëŒ€ë¡œ axis = 1ì´ë¼ê³  ì§€ì •í•´ì£¼ë©´ ê²°ì¸¡ì¹˜ê°€ ìˆëŠ” ì—´ì´ ì‚­ì œë©ë‹ˆë‹¤.

In [17]:
train.dropna(axis=1)

,index,gender,car,reality,child_num,income_total,income_type,edu_type,family_type,house_type,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,work_phone,phone,email,family_size,begin_month,credit
0,0,F,N,N,0,202500.0,Commercial associate,Higher education,Married,Municipal apartment,-13899,-4709,1,0,0,0,2.0,-6.0,1.0
1,1,F,N,Y,1,247500.0,Commercial associate,Secondary / secondary special,Civil marriage,House / apartment,-11380,-1540,1,0,0,1,3.0,-5.0,1.0
2,2,M,Y,Y,0,450000.0,Working,Higher education,Married,House / apartment,-19087,-4434,1,0,1,0,2.0,-22.0,2.0
3,3,F,N,Y,0,202500.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-15088,-2092,1,0,1,0,2.0,-37.0,0.0
4,4,F,Y,Y,0,157500.0,State servant,Higher education,Married,House / apartment,-15037,-2105,1,0,0,0,2.0,-26.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26452,26452,F,N,N,2,225000.0,State servant,Secondary / secondary special,Married,House / apartment,-12079,-1984,1,0,0,0,4.0,-2.0,1.0
26453,26453,F,N,Y,1,180000.0,Working,Higher education,Separated,House / apartment,-15291,-2475,1,0,0,0,2.0,-47.0,2.0
26454,26454,F,Y,N,0,292500.0,Working,Secondary / secondary special,Civil marriage,With parents,-10082,-2015,1,0,0,0,2.0,-25.0,2.0
26455,26455,M,N,Y,0,171000.0,Working,Incomplete higher,Single / not married,House / apartment,-10145,-107,1,0,0,0,1.0,-59.0,2.0
26456,26456,F,N,N,0,81000.0,Working,Secondary / secondary special,Civil marriage,House / apartment,-19569,-1013,1,0,0,0,2.0,-9.0,2.0

ì—¬ê¸°ì„œ í•˜ë‚˜ ë” ë°°ì›Œë³¼ê²Œìš”!

dropna()ì—ëŠ” inplaceë¼ëŠ” ì˜µì…˜ì´ ìˆëŠ”ë°ìš”. 
ì´ ì˜µì…˜ì„ Trueë¼ê³  ì„¤ì •í•´ì£¼ë©´ ê²°ì¸¡ì¹˜ ì œê±° ìƒíƒœë¥¼ ë°ì´í„°í”„ë ˆì„ì— ì €ì¥í•˜ì§€ ì•Šê³ ë„ ë°”ë¡œ ì ìš©ëœë‹µë‹ˆë‹¤.
ì°¸ê³ í•´ë‘ë©´ ìœ ìš©í•˜ê²Œ ì‚¬ìš©í•  ìˆ˜ ìˆì„ê±°ì—ìš”.

ê²°ì¸¡ì¹˜ë¥¼ ì œê±°í•˜ëŠ” ê²ƒì€ ê°€ì¥ ê°„ë‹¨í•œ ë°©ë²•ì´ê¸´ í•˜ì§€ë§Œ ë‚¨ìš©í•œë‹¤ë©´ ë°ì´í„°ë¥¼ ì™œê³¡í•  ê°€ëŠ¥ì„±ì´ ìƒê¸°ê¸° ë•Œë¬¸ì—
í•­ìƒ ì‹ ì¤‘í•˜ê²Œ ìƒê°í•˜ê³  ì‘ì—…í•˜ëŠ”ê²Œ ì¢‹ì•„ìš”.ğŸ˜‡

### Inst.
- inplaceë¥¼ Trueë¼ê³  ì„¤ì •í–ˆì„ ë•Œì™€ ì•ˆí–ˆì„ ë•Œë¥¼ ì§ì ‘ ë¹„êµí•´ë³´ì„¸ìš”.

In [2]:
# inplaceë¥¼ Trueë¼ê³  ì„¤ì •í–ˆì„ ë•Œ

#ì„¤ì • ì•ˆí–ˆì„ ë•Œ

### Hint
- dropnaë¥¼ ì‚¬ìš©í•˜ê¸° ì „ train ë°ì´í„°ë¥¼ ë‹¤ì‹œ ë¶ˆëŸ¬ì™€ì•¼ í•©ë‹ˆë‹¤.

### Solution.

In [18]:
#inplace =True
train = pd.read_csv('train.csv')
train.dropna(axis=1, inplace = True)
train

,index,gender,car,reality,child_num,income_total,income_type,edu_type,family_type,house_type,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,work_phone,phone,email,family_size,begin_month,credit
0,0,F,N,N,0,202500.0,Commercial associate,Higher education,Married,Municipal apartment,-13899,-4709,1,0,0,0,2.0,-6.0,1.0
1,1,F,N,Y,1,247500.0,Commercial associate,Secondary / secondary special,Civil marriage,House / apartment,-11380,-1540,1,0,0,1,3.0,-5.0,1.0
2,2,M,Y,Y,0,450000.0,Working,Higher education,Married,House / apartment,-19087,-4434,1,0,1,0,2.0,-22.0,2.0
3,3,F,N,Y,0,202500.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-15088,-2092,1,0,1,0,2.0,-37.0,0.0
4,4,F,Y,Y,0,157500.0,State servant,Higher education,Married,House / apartment,-15037,-2105,1,0,0,0,2.0,-26.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26452,26452,F,N,N,2,225000.0,State servant,Secondary / secondary special,Married,House / apartment,-12079,-1984,1,0,0,0,4.0,-2.0,1.0
26453,26453,F,N,Y,1,180000.0,Working,Higher education,Separated,House / apartment,-15291,-2475,1,0,0,0,2.0,-47.0,2.0
26454,26454,F,Y,N,0,292500.0,Working,Secondary / secondary special,Civil marriage,With parents,-10082,-2015,1,0,0,0,2.0,-25.0,2.0
26455,26455,M,N,Y,0,171000.0,Working,Incomplete higher,Single / not married,House / apartment,-10145,-107,1,0,0,0,1.0,-59.0,2.0
26456,26456,F,N,N,0,81000.0,Working,Secondary / secondary special,Civil marriage,House / apartment,-19569,-1013,1,0,0,0,2.0,-9.0,2.0

In [19]:
train = pd.read_csv('train.csv')
train.dropna(axis=1)
train

,index,gender,car,reality,child_num,income_total,income_type,edu_type,family_type,house_type,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,work_phone,phone,email,occyp_type,family_size,begin_month,credit
0,0,F,N,N,0,202500.0,Commercial associate,Higher education,Married,Municipal apartment,-13899,-4709,1,0,0,0,NaN,2.0,-6.0,1.0
1,1,F,N,Y,1,247500.0,Commercial associate,Secondary / secondary special,Civil marriage,House / apartment,-11380,-1540,1,0,0,1,Laborers,3.0,-5.0,1.0
2,2,M,Y,Y,0,450000.0,Working,Higher education,Married,House / apartment,-19087,-4434,1,0,1,0,Managers,2.0,-22.0,2.0
3,3,F,N,Y,0,202500.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-15088,-2092,1,0,1,0,Sales staff,2.0,-37.0,0.0
4,4,F,Y,Y,0,157500.0,State servant,Higher education,Married,House / apartment,-15037,-2105,1,0,0,0,Managers,2.0,-26.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26452,26452,F,N,N,2,225000.0,State servant,Secondary / secondary special,Married,House / apartment,-12079,-1984,1,0,0,0,Core staff,4.0,-2.0,1.0
26453,26453,F,N,Y,1,180000.0,Working,Higher education,Separated,House / apartment,-15291,-2475,1,0,0,0,NaN,2.0,-47.0,2.0
26454,26454,F,Y,N,0,292500.0,Working,Secondary / secondary special,Civil marriage,With parents,-10082,-2015,1,0,0,0,Core staff,2.0,-25.0,2.0
26455,26455,M,N,Y,0,171000.0,Working,Incomplete higher,Single / not married,House / apartment,-10145,-107,1,0,0,0,Laborers,1.0,-59.0,2.0
26456,26456,F,N,N,0,81000.0,Working,Secondary / secondary special,Civil marriage,House / apartment,-19569,-1013,1,0,0,0,Security staff,2.0,-9.0,2.0

inplace = True ì—¬ë¶€ì— ë”°ë¼ ì—´ ê°œìˆ˜ê°€ ë‹¬ë¼ì§€ëŠ” ê²ƒì„ í™•ì¸í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

---

#### 2.1.2 ëŒ€ì¹˜(Imputaion)

ëŒ€ì¹˜ë€ ê²°ì¸¡ì¹˜ë¥¼ íŠ¹ì • ê°’ìœ¼ë¡œ ëŒ€ì¹˜í•˜ëŠ” ê²ƒìœ¼ë¡œ, ë„ë©”ì¸ ì§€ì‹ì´ ìˆë‹¤ë©´ ë³´ë‹¤ ì‰½ê²Œ ì²˜ë¦¬ê°€ ê°€ëŠ¥í•©ë‹ˆë‹¤.

ëŒ€ì¹˜ ê°’ì˜ ì˜ˆì‹œì— ëŒ€í•´ ì•Œì•„ë³´ë„ë¡ í•©ì‹œë‹¤.

- ìµœë¹ˆê°’(mode): ë²”ì£¼í˜•ì—ì„œ ì£¼ë¡œ ì‚¬ìš©ë˜ë©°, ë²”ì£¼ë³„ ë¹ˆë„ê°€ ê°€ì¥ ë†’ì€ ê°’ìœ¼ë¡œ ëŒ€ì¹˜
- ì¤‘ì•™ê°’(median): ìˆ«ìí˜•ì—ì„œ ê²°ì¸¡ê°’ì„ ì œì™¸í•œ ì¤‘ì•™ê°’ìœ¼ë¡œ ëŒ€ì¹˜
- í‰ê· (mean): ìˆ«ìí˜•ì—ì„œ ê²°ì¸¡ê°’ì„ ì œì™¸í•œ í‰ê· ìœ¼ë¡œ ëŒ€ì¹˜
- ê°„ë‹¨í•œ ì˜ˆì¸¡ëª¨ë¸: ê²°ì¸¡ê°’ì´ ì—†ëŠ” ì—´ë¡œ êµ¬ì„±ëœ ë°ì´í„°ë¥¼ ì´ìš©í•´ ê²°ì¸¡ê°’ì´ ìˆëŠ” ì—´ ì˜ˆì¸¡

Pandasì—ì„œ ì œê³µí•˜ëŠ” <font color="sky blue">**fillna()í•¨ìˆ˜**</font>ë¥¼ ì´ìš©í•˜ì—¬ ëˆ„ë½ ë°ì´í„°ì— íŠ¹ì • ê°’ì„ ì±„ìš¸ ìˆ˜ ìˆìŠµë‹ˆë‹¤.

ì˜ˆì‹œë¥¼ í•œë²ˆ ë³¼ê²Œìš”.

In [19]:
#ê²°ì¸¡ê°’ì„ 0ìœ¼ë¡œ ëŒ€ì¹˜
train.fillna(0)

,index,gender,car,reality,child_num,income_total,income_type,edu_type,family_type,house_type,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,work_phone,phone,email,occyp_type,family_size,begin_month,credit
0,0,F,N,N,0,202500.0,Commercial associate,Higher education,Married,Municipal apartment,-13899,-4709,1,0,0,0,0,2.0,-6.0,1.0
1,1,F,N,Y,1,247500.0,Commercial associate,Secondary / secondary special,Civil marriage,House / apartment,-11380,-1540,1,0,0,1,Laborers,3.0,-5.0,1.0
2,2,M,Y,Y,0,450000.0,Working,Higher education,Married,House / apartment,-19087,-4434,1,0,1,0,Managers,2.0,-22.0,2.0
3,3,F,N,Y,0,202500.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-15088,-2092,1,0,1,0,Sales staff,2.0,-37.0,0.0
4,4,F,Y,Y,0,157500.0,State servant,Higher education,Married,House / apartment,-15037,-2105,1,0,0,0,Managers,2.0,-26.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26452,26452,F,N,N,2,225000.0,State servant,Secondary / secondary special,Married,House / apartment,-12079,-1984,1,0,0,0,Core staff,4.0,-2.0,1.0
26453,26453,F,N,Y,1,180000.0,Working,Higher education,Separated,House / apartment,-15291,-2475,1,0,0,0,0,2.0,-47.0,2.0
26454,26454,F,Y,N,0,292500.0,Working,Secondary / secondary special,Civil marriage,With parents,-10082,-2015,1,0,0,0,Core staff,2.0,-25.0,2.0
26455,26455,M,N,Y,0,171000.0,Working,Incomplete higher,Single / not married,House / apartment,-10145,-107,1,0,0,0,Laborers,1.0,-59.0,2.0
26456,26456,F,N,N,0,81000.0,Working,Secondary / secondary special,Civil marriage,House / apartment,-19569,-1013,1,0,0,0,Security staff,2.0,-9.0,2.0

## 2.2 ì´ìƒì¹˜ ì²˜ë¦¬

ì´ìƒì¹˜ë€ ê°’ì˜ ë²”ìœ„ê°€ ì¼ë°˜ì ì¸ ë²”ìœ„ë¥¼ ë²—ì–´ë‚˜ íŠ¹ë³„í•œ ê°’ì„ ê°–ëŠ” ê²ƒì„ ë§í•©ë‹ˆë‹¤.
ë°ì´í„°ì— ì´ìƒì¹˜ê°€ ìˆë‹¤ë©´ ì´ìƒì¹˜ê°€ ì™œ ë°œìƒí–ˆëŠ”ì§€ë¥¼ íŒŒì•…í•˜ëŠ” ê²ƒì´ ì¢‹ìŠµë‹ˆë‹¤.

ê·¸ë ‡ë‹¤ë©´ ì´ìƒì¹˜ëŠ” ì–´ë–»ê²Œ ê´€ì°°í•  ìˆ˜ ìˆì„ê¹Œìš”?

    1) ê°œë³„ ë°ì´í„° ê´€ì°°: ë°ì´í„° ê°’ì„ ëˆˆìœ¼ë¡œ í›‘ì–´ë³´ë©´ì„œ ì „ë²ˆì ì¸ ì¶”ì„¸ì™€ íŠ¹ì´ì‚¬í•­ì„ ê´€ì°°
    2) ìš”ì•½ í†µê³„ ì§€í‘œ ì‚¬ìš©: í‰ê· , ì¤‘ì•™ê°’, ë¶„ì‚°, ë²”ìœ„ ë“± ì ì ˆí•œ ìš”ì•½ í†µê³„ ì§€í‘œë¥¼ ì´ìš©
    3) ì‹œê°í™” í™œìš©: íˆìŠ¤í† ê·¸ë¨, í™•ë¥ ë°€ë„ í•¨ìˆ˜ ë“± ë‹¤ì–‘í•œ ê·¸ë˜í”„ ì´ìš©

êµ¬ì²´ì ì¸ ì˜ˆë¥¼ í•œë²ˆ ë“¤ì–´ë³¼ê²Œìš”.

ë¨¼ì € í‘œì¤€ ë³€ìˆ˜ë¡œ ë³€í™˜í•˜ëŠ” ë°©ë²•ì…ë‹ˆë‹¤. 
í‰ê· ì´ 0, í‘œì¤€í¸ì°¨ê°€ 1ì¸ ë¶„í¬ë¡œ ë³€í™˜í•˜ì—¬ +3 ì´ìƒì´ê±°ë‚˜ -3 ì´í•˜ì¸ ê²½ìš°ë¥¼ ì´ìƒì¹˜ë¡œ ì²˜ë¦¬í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

<img src='https://drive.google.com/uc?export=download&id=1g5jWzL7XHJ5mb0769WV0ZzNe0NbpFNw9' width="" height ="" /><br>
ì¶œì²˜: https://claryk.tistory.com/5

In [23]:
# í‘œì¤€ì ìˆ˜ ê¸°ë°˜ ì˜ˆì œ ì½”ë“œ
def std_based_outlier(df):
    for i in range(0, len(df.iloc[1])): 
        df.iloc[:,i] = df.iloc[:,i].replace(0, np.NaN) # optional
        df = df[~(np.abs(df.iloc[:,i] - df.iloc[:,i].mean()) > (3*df.iloc[:,i].std()))].fillna(0)

í˜¹ì€ IQR ë°©ì‹ì„ ì´ìš©í•˜ì—¬ Q1 - 1.5*IQR ì´í•˜ì´ê±°ë‚˜ Q3 + 1.5*IQR ì´ìƒì¸ ê°’ì„ ì´ìƒì¹˜ë¡œ ì²˜ë¦¬í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.
ì´ë•Œ ë°•ìŠ¤ í”Œë¡¯ì„ ì´ìš©í•˜ì—¬ ì‹œê°í™” í•  ìˆ˜ ìˆëŠ”ë°, ìš°ë¦¬ëŠ” ì•„ì§ ì‹œê°í™”ë¥¼ ë°°ìš°ì§€ ì•Šì•˜ê¸° ë•Œë¬¸ì— ì¼ë‹¨ ë„˜ì–´ê°€ë„ë¡ í• ê²Œìš”!

<img src='https://drive.google.com/uc?export=download&id=1ewQygwgwxytX_6UYsgjqZXmuG_2HVGeA' width="" height ="" /><br>
ì¶œì²˜: https://hwi-doc.tistory.com/entry/IQR-%EB%B0%A9%EC%8B%9D%EC%9D%84-%EC%9D%B4%EC%9A%A9%ED%95%9C-%EC%9D%B4%EC%83%81%EC%B9%98-%EB%8D%B0%EC%9D%B4%ED%84%B0Outlier-%EC%A0%9C%EA%B1%B0

In [24]:
# IQR ê¸°ë°˜ ì˜ˆì œ ì½”ë“œ
def outliers_iqr(df):
    quartile_1, quartile_3 = np.percentile(df, [25, 75])
    iqr = quartile_3 - quartile_1
    lower = quartile_1 - (iqr * 1.5)
    upper = quartile_3 + (iqr * 1.5)
    return np.where((df > upper) | (df < lower))

ìœ„ì˜ ë°©ë²•ë“¤ì„ ì´ìš©í•˜ì—¬ ê° ì†ì„± ê°’ì´ ìš°ë¦¬ê°€ ì—ì¸¡í•œ ë²”ìœ„ì™€ ë¶„í¬ë¥¼ ê°–ê³  ìˆëŠ”ì§€ë¥¼ í™•ì¸í•˜ê³ 
ì´ìƒì¹˜ë¥¼ íŒŒì•…í•˜ì—¬ ì–´ë–»ê²Œ ëŒ€ì²˜í•  ì§€ë¥¼ íŒë‹¨í•´ì•¼ í•˜ëŠ”ë°ìš”.
ì´ìƒì¹˜ ì²˜ë¦¬ëŠ” í¬ê²Œ ì œê±°, ëŒ€ì¹˜, ìœ ì§€ë¡œ ë‚˜ëˆŒ ìˆ˜ ìˆìŠµë‹ˆë‹¤.

ì•„ë¬´ë˜ë„ ë„ë©”ì¸ ì§€ì‹ì´ ì–´ëŠì •ë„ ìˆë‹¤ë©´ ì²˜ë¦¬í•˜ê¸°ê°€ ì¢€ ë” ìš©ì´í•˜ê² ì£ ?

## 2.3 ì¤‘ë³µ ë°ì´í„° ì²˜ë¦¬

ì¤‘ë³µ ë°ì´í„°ë¥¼ ì²˜ë¦¬í•˜ê¸° ìœ„í•´ì„œëŠ” ë¨¼ì € duplicated() í•¨ìˆ˜ì— ëŒ€í•´ ì•Œ í•„ìš”ê°€ ìˆì„ ê²ƒ ê°™ì•„ìš”.
duplicated() í•¨ìˆ˜ëŠ” True, Falseì˜ boolean í˜•íƒœë¥¼ ë°˜í™˜í•©ë‹ˆë‹¤.

ì´ë¥¼ ì‘ìš©í•œ í•¨ìˆ˜ì¸ drop_duplicates()ë¥¼ ì´ìš©í•œë‹¤ë©´ ì¤‘ë³µ ë°ì´í„°ë¥¼ ì‰½ê²Œ ì‚­ì œí•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.
ê´„í˜¸ ì•ˆì—ëŠ” ì¤‘ë³µì„ ì²˜ë¦¬í•˜ê³  ì‹¶ì€ ì—´ ì´ë¦„ì„ ë„£ì–´ì£¼ë©´ ëœë‹µë‹ˆë‹¤.

ì˜ˆì‹œë¥¼ í•œë²ˆ ë³¼ê¹Œìš”?

In [25]:
#ì—´ income_totalë‚´ì— ì¤‘ë³µë˜ëŠ” ê°’ ì œê±°
train.drop_duplicates(['income_total'])

,index,gender,car,reality,child_num,income_total,income_type,edu_type,family_type,house_type,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,work_phone,phone,email,occyp_type,family_size,begin_month,credit
0,0,F,N,N,0,202500.0,Commercial associate,Higher education,Married,Municipal apartment,-13899,-4709,1,0,0,0,NaN,2.0,-6.0,1.0
1,1,F,N,Y,1,247500.0,Commercial associate,Secondary / secondary special,Civil marriage,House / apartment,-11380,-1540,1,0,0,1,Laborers,3.0,-5.0,1.0
2,2,M,Y,Y,0,450000.0,Working,Higher education,Married,House / apartment,-19087,-4434,1,0,1,0,Managers,2.0,-22.0,2.0
4,4,F,Y,Y,0,157500.0,State servant,Higher education,Married,House / apartment,-15037,-2105,1,0,0,0,Managers,2.0,-26.0,2.0
5,5,F,N,Y,2,270000.0,Working,Secondary / secondary special,Married,House / apartment,-13413,-4996,1,0,0,1,High skill tech staff,4.0,-18.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21173,21173,F,N,N,0,170302.5,Commercial associate,Higher education,Married,House / apartment,-16741,-4123,1,1,1,0,Accountants,2.0,-2.0,1.0
21697,21697,M,Y,N,0,1350000.0,Commercial associate,Higher education,Married,Municipal apartment,-12999,-1560,1,0,1,1,Managers,2.0,-27.0,2.0
21823,21823,M,N,N,1,179271.0,Working,Higher education,Married,House / apartment,-10961,-1235,1,0,0,0,Managers,3.0,-9.0,2.0
24757,24757,F,N,N,0,234135.0,Commercial associate,Higher education,Married,House / apartment,-12593,-2338,1,1,0,0,Managers,2.0,-24.0,2.0
26191,26191,M,Y,N,0,191700.0,Working,Lower secondary,Married,House / apartment,-15473,-6557,1,1,1,0,Drivers,2.0,-45.0,2.0

### Bonus Stage

ê°‘ìê¸° ë³´ë„ˆìŠ¤ ìŠ¤í…Œì´ì§€ê°€ ë‚˜ì™€ì„œ ë†€ë¼ì…¨ì£ ?ğŸ§ğŸ§

ë‹¤ìŒ ì±•í„°ì—ì„œ ë°°ìš¸ ë‚´ìš©ì„ ì´í•´í•˜ë ¤ë©´ ìƒˆë¡œìš´ ê°œë…ì„ ì•Œì•„ì•¼ í•´ì„œ ë³´ë„ˆìŠ¤ ìŠ¤í…Œì´ì§€ë¥¼ ë§ˆë ¨í•´ë³´ì•˜ìŠµë‹ˆë‹¤!ğŸ˜Š

ë°”ë¡œ <font color="coral">**Scikit-Learn**</font>ì´ë¼ëŠ” ë¼ì´ë¸ŒëŸ¬ë¦¬ì…ë‹ˆë‹¤.
ë°ì´í„° ë¶„ì„ ë° ë¨¸ì‹ ëŸ¬ë‹ ì ìš©ì„ ìœ„í•œ íŒŒì´ì¬ ê¸°ë°˜ì˜ ë¼ì´ë¸ŒëŸ¬ë¦¬ë¡œ ë‹¤ì–‘í•œ ì•Œê³ ë¦¬ì¦˜ê³¼ í”„ë ˆì„ ì›Œí¬, APIë¥¼ ì œê³µí•©ë‹ˆë‹¤. ì˜¤ëœê¸°ê°„ ì•ˆì •ì„±ì´ ê²€ì¦ë˜ì—ˆìœ¼ë©° ê°€ì¥ ê°•ë ¥í•œ ë¼ì´ë¸ŒëŸ¬ë¦¬ë¼ê³  ìƒê°í•˜ë©´ ë˜ëŠ”ë°ìš”!

ì´ Scikit-Learnì—ì„œ ì œê³µí•˜ëŠ” ë‹¤ì–‘í•œ ë©”ì„œë“œ ì¤‘, **fit**ê³¼ **transform**, **fit_transform**ì— ëŒ€í•œ ê°œë…ì„ ì§šê³  ë„˜ì–´ê°€ë„ë¡ í•˜ê² ìŠµë‹ˆë‹¤!

- fit: ë°ì´í„°ë¥¼ í•™ìŠµì‹œí‚¤ëŠ” ë©”ì„œë“œë¡œ, í›ˆë ¨ ë°ì´í„°ì—ë§Œ ì ìš©í•´ ë¶„í¬ë¥¼ ë¨¼ì € í•™ìŠµ
- transform: ì‹¤ì œë¡œ í•™ìŠµì‹œí‚¨ ê²ƒì„ ì ìš©í•˜ëŠ” ë©”ì„œë“œë¡œ, fitì„ ê¸°ì¤€ìœ¼ë¡œ ì–»ì€ ë¶„í¬ì— ë§ì¶° ë³€í˜•
- fit_transform: fitê³¼ transformì´ ê²°í•©ëœ ë‹¨ì¶• ë©”ì„œë“œ

ì´ë•Œ ì£¼ì˜í•´ì•¼ í•  ì ì€ í›ˆë ¨ ë°ì´í„°ì—ëŠ” fit_transform ë©”ì„œë“œë¥¼ ì ìš©í•˜ëŠ” ë°˜ë©´, <font color="coral">**í…ŒìŠ¤íŠ¸ ë°ì´í„°ì—ëŠ” transform ë©”ì„œë“œë§Œ**</font>ì„ ì ìš©í•´ì•¼ í•œë‹¤ëŠ” ê²ƒì…ë‹ˆë‹¤. 

í…ŒìŠ¤íŠ¸ ë°ì´í„°ì—ë„ fitì„ í•´ë²„ë¦¬ë©´ ê¸°ì¡´ í•™ìŠµ ë°ì´í„°ì— fití•œ ê¸°ì¤€ì„ ë‹¤ ë¬´ì‹œí•˜ê³  í…ŒìŠ¤íŠ¸ ë°ì´í„°ê¹Œì§€ í•™ìŠµ í•´ë²„ë ¤ í…ŒìŠ¤íŠ¸ ë°ì´í„°ì— ëŒ€í•œ ìƒˆë¡œìš´ ë¶„í¬ê°’ì´ ìƒì„±ë©ë‹ˆë‹¤.

ì•ì„œ ì–¸ê¸‰í–ˆë“¯ í…ŒìŠ¤íŠ¸ ë°ì´í„°ëŠ” ì„±ëŠ¥ ê²€ì¦ì„ ìœ„í•´ ë‹¨ í•œë²ˆë§Œ ì‚¬ìš©í•´ì•¼ í•˜ëŠ” ë°ì´í„°ì´ë¯€ë¡œ ê¼­ ìœ ì˜í•´ì£¼ì‹œê¸¸ ë°”ë„ê²Œìš”!

ì ì—¬ê¸°ê¹Œì§€ ì´í•´í•˜ì…¨ë‹¤ë©´ ì´ì–´ì„œ ë‹¤ìŒ ë‚´ìš©ìœ¼ë¡œ ê°€ë³¼ê¹Œìš”?

# 3. ë°ì´í„° ë³€í™˜

ë°ì´í„° í´ë Œì§•ì— ì´ì–´ì„œ ë°ì´í„° ì „ì²˜ë¦¬ ê³¼ì • ì¤‘ í•˜ë‚˜ì¸ ë°ì´í„° ë³€í™˜ì— ëŒ€í•´ ì•Œì•„ë³´ë„ë¡ í•˜ê² ìŠµë‹ˆë‹¤.

## 3.1 ë²”ìˆ˜í˜• ë³€ìˆ˜ ì²˜ë¦¬í•˜ê¸°

ë°ì´í„° ë¶„ì„ ëª¨í˜•ì€ ë¬¸ìì—´ ê°’ì„ ì…ë ¥ê°’ìœ¼ë¡œ ì²˜ë¦¬í•˜ì§€ ì•Šê¸° ë•Œë¬¸ì— ë²”ì£¼í˜• ë°ì´í„°ë¥¼ ìˆ«ìë¡œ ë³€í™˜í•´ì•¼í•  í•„ìš”ê°€ ìˆìŠµë‹ˆë‹¤. 

ì—¬ëŸ¬ê°€ì§€ ë°©ë²•ì´ ìˆê² ì§€ë§Œ ì´ë²ˆ ì‹œê°„ì—ëŠ” ë ˆì´ë¸” ì¸ì½”ë”©ê³¼ ì›í•« ì¸ì½”ë”©ì— ëŒ€í•´ ë°°ì›Œë³´ë„ë¡ í•˜ê² ìŠµë‹ˆë‹¤.

### 3.1.1 ë ˆì´ë¸” ì¸ì½”ë”©(LabelEncoding)

ë ˆì´ë¸” ì¸ì½”ë”©ì€ ë¬¸ìì—´ì˜ uniqueê°’ì„ ìˆ«ìë¡œ ë°”ê¿”ì£¼ëŠ” ë°©ì‹ì…ë‹ˆë‹¤.
ë³€ìˆ˜ë¥¼ ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•˜ì—¬ ë²ˆí˜¸ë¥¼ ë¶€ì—¬í•˜ëŠ”ë°ìš”.

Scikit-Learnì—ì„œ ì œê³µí•˜ëŠ” LabelEncoderë¥¼ ì‚¬ìš©í•˜ë©´ ì‰½ê²Œ êµ¬í˜„ì´ ê°€ëŠ¥í•©ë‹ˆë‹¤.
ì´ë•Œ ìœ„ì—ì„œ ì–¸ê¸‰í•œ fitê³¼ transform ë©”ì„œë“œê°€ ì‚¬ìš©ë©ë‹ˆë‹¤.

<img src='https://drive.google.com/uc?export=download&id=1Vd9NpPvg5y2DzG1SXwMaKiTU4r5BcM4l' width="" height ="" /><br>
ì¶œì²˜: https://tnqkrdmssjan.tistory.com/85

In [9]:
#LabelEncoder ì‚¬ìš©ì„ ìœ„í•´ ëª¨ë“ˆ ë¶ˆëŸ¬ì˜¤ê¸°
from sklearn.preprocessing import LabelEncoder

#ë³€ìˆ˜ì— LabelEncoder í• ë‹¹
le = LabelEncoder()

# í•™ìŠµ ì§„í–‰
le.fit(train['car'])

# ì ìš©
label = le.transform(train['car'])

print(label, type(label))

[0 0 1 ... 1 0 0] <class 'numpy.ndarray'>

### Inst.
ìœ„ì˜ ì½”ë“œë¥¼ fit_transform() ë©”ì„œë“œë¡œ í‘œí˜„í•´ë³´ì„¸ìš”.

In [ ]:
#fit_transform()ìœ¼ë¡œ í‘œí˜„í•´ë³´ê¸°

### Hint.
fit_transform()ì€ fitê³¼ transformì´ ê²°í•©ëœ ë‹¨ì¶• ë©”ì„œë“œì…ë‹ˆë‹¤.

### Solution.

In [10]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

label = le.fit_transform(train['car'])


print(label, type(label))

[0 0 1 ... 1 0 0] <class 'numpy.ndarray'>

ë ˆì´ë¸” ì¸ì½”ë”©ì„ ì‚¬ìš©í•  ë•ŒëŠ” ì£¼ì˜í•  ì ì´ ìˆìŠµë‹ˆë‹¤. 

ìˆ«ì ê°’ìœ¼ë¡œ ë³€í™˜ë˜ë¯€ë¡œ ë…ë¦½ì ì¸ ê´€ì¸¡ê°’ ê°„ì— ê´€ê³„ì„±ì´ ìƒê¸¸ ê°€ëŠ¥ì„±ì´ ìˆê³ , ìˆ«ìë¥¼ ê°€ì¤‘ì¹˜ë¡œ ì˜ëª» ì¸ì‹í•˜ì—¬ ê°’ì— ì™œê³¡ì´ ìƒê¸¸ ìˆ˜ ìˆë‹¤ëŠ” ê²ƒì¸ë°ìš”. ì´ëŠ” ì˜ˆì¸¡ ì„±ëŠ¥ì˜ ì €í•˜ë¥¼ ìœ ë°œí•  ìˆ˜ ìˆìœ¼ë¯€ë¡œ ì£¼ì˜í•´ì•¼ í•©ë‹ˆë‹¤.

ì´ë¥¼ ë³´ì™„í•˜ê¸° ìœ„í•´ì„œëŠ” ì›í•«ì¸ì½”ë”© ë°©ì‹ì„ ì‚¬ìš©í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

### 3.1.2 ì›í•« ì¸ì½”ë”©(OneHotEncoding)

ì›í•« ì¸ì½”ë”©ì€ ê³ ìœ ê°’ë“¤ì„ í”¼ì³ë¡œ ë§Œë“¤ê³  ì •ë‹µì— í•´ë‹¹í•˜ëŠ” ì—´ì€ 1ë¡œ, ë‚˜ë¨¸ì§€ëŠ” 0ìœ¼ë¡œ í‘œì‹œí•˜ëŠ” ë°©ì‹ì…ë‹ˆë‹¤. ì•„ë˜ ê·¸ë¦¼ì„ ë³´ë©´ ì‰½ê²Œ ì´í•´í•  ìˆ˜ ìˆì„ê±°ì—ìš”.

<img src='https://drive.google.com/uc?export=download&id=10qRkxquf3EN-N83vVBNp8wIvD8uEUCdo' width="" height ="" /><br>
ì¶œì²˜: https://www.researchgate.net/figure/An-example-of-one-hot-encoding_fig1_344409939

---

ì›í•« ì¸ì½”ë”© ë°©ì‹ì€ ìˆ«ìì˜ í¬ê³  ì‘ì€ íŠ¹ì„±(ì¤‘ìš”ë„)ë¥¼ ì—†ì• ì£¼ë¯€ë¡œ ìì£¼ ì‚¬ìš©ë©ë‹ˆë‹¤.

sklearnì˜ OneHotEncoder í´ë˜ìŠ¤ë¡œ ì‰½ê²Œ ì‚¬ìš© ê°€ëŠ¥í•˜ì§€ë§Œ ë¬¸ìì—´ì—ì„œëŠ” ë°”ë¡œ ë³€í™˜ì´ ë˜ì§€ ì•ŠìŠµë‹ˆë‹¤. ë”°ë¼ì„œ ë¼ë²¨ ì¸ì½”ë”ë¡œ ìˆ«ìë¡œ ë³€í™˜ì„ í•œ í›„ì— ì‚¬ìš©í•´ì•¼ í•©ë‹ˆë‹¤.

ë˜í•œ ì…ë ¥ê°’ìœ¼ë¡œ 2ì°¨ì› ë°ì´í„°ê°€ í•„ìš”í•˜ë¯€ë¡œ reshape()í•¨ìˆ˜ë¥¼ í†µí•´ í˜•íƒœë¥¼ ë³€í™˜í•´ ì£¼ëŠ” ì‘ì—…ë„ ê¼­ ê¸°ì–µí•´ì£¼ì„¸ìš”!

ê·¸ëŸ¼ ì˜ˆì‹œë¥¼ ë³¼ê²Œìš”.

In [33]:
#ì‚¬ìš©í•  ëª¨ë“ˆ ë¶ˆëŸ¬ì˜¤ê¸°
from sklearn.preprocessing import OneHotEncoder

#LabelEncoder í•™ìŠµ ë° ì ìš©
le = LabelEncoder()
le.fit(train['gender'])
label = le.transform(train['gender'])

# 2ì°¨ì› ë°ì´í„°ë¡œ í˜•íƒœ ë³€ê²½
label = label.reshape(-1,1)

# ì›í•«ì¸ì½”ë” í•™ìŠµ ë° ì ìš©
oh_encoder = OneHotEncoder()
oh_encoder.fit(label)
oh_label = oh_encoder.transform(label)
print(oh_label.shape)

(26457, 2)

### 3.1.3 get_dummies

get_dummiesëŠ” íŒë‹¤ìŠ¤ì˜ ë‚´ì¥í•¨ìˆ˜ë¡œ ìœ„ì˜ ë‘ ê³¼ì •ì„ í•œë²ˆì— ëª¨ë‘ ì²˜ë¦¬í•´ ì£¼ëŠ” í•¨ìˆ˜ì…ë‹ˆë‹¤. ë³„ë‹¤ë¥¸ ì„¤ì¹˜ ì—†ì´ ì†ì‰½ê²Œ ì‹¤í–‰ì´ ê°€ëŠ¥í•©ë‹ˆë‹¤.

ì˜ˆì‹œë¥¼ ë³¼ê²Œìš”.

In [34]:
import pandas as pd
pd.get_dummies(train['gender'])

       F  M
0      1  0
1      1  0
2      0  1
3      1  0
4      1  0
...   .. ..
26452  1  0
26453  1  0
26454  1  0
26455  0  1
26456  1  0

[26457 rows x 2 columns]

### 3.2 ë°ì´í„° ìŠ¤ì¼€ì¼ë§

ëŒ€ë¶€ë¶„ í•™ìŠµì— ì´ìš©ë˜ëŠ” ë°ì´í„°ë“¤ì€ ê° íŠ¹ì„±ë§ˆë‹¤ ë°ì´í„°ê°€ ê°€ì§ˆ ìˆ˜ ìˆëŠ” ê°’ì˜ ë²”ìœ„ê°€ ë‹¤ë¦…ë‹ˆë‹¤.ëŒ€ë¶€ë¶„ì˜ í•™ìŠµ ì•Œê³ ë¦¬ì¦˜ì€ íŠ¹ì„± ë³„ ë°ì´í„°ì˜ ìŠ¤ì¼€ì¼ì´ ë‹¤ë¥¼ ê²½ìš° ì˜ ì‘ë™í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤. ë”°ë¼ì„œ ë°ì´í„° ê°’ì˜ ë²”ìœ„ë¥¼ ì¡°ì •í•˜ëŠ” ìŠ¤ì¼€ì¼ë§ ì‘ì—…ì€ í•„ìˆ˜ì ì…ë‹ˆë‹¤.

Scikit-Learnì—ì„œëŠ” ë‹¤ìŒê³¼ ê°™ì€ ë‹¤ì–‘í•œ ìŠ¤ì¼€ì¼ëŸ¬ë¥¼ ì œê³µí•©ë‹ˆë‹¤.
- StandardScaler
- RobustScaler
- MinMaxScaler
- MaxAbsScaler

ë„¤ ê°€ì§€ ìŠ¤ì¼€ì¼ëŸ¬ì¤‘ ì´ë²ˆ ì‹œê°„ì—ëŠ” StandardScalerì™€ MinMaxScalerì— ëŒ€í•´ ë‹¤ë¤„ë³´ë„ë¡ í•˜ê² ìŠµë‹ˆë‹¤.

### 3.2.1 StandardScaler

í‘œì¤€í™”ë¼ê³ ë„ í•˜ë©°, ë°ì´í„°ì˜ í‰ê· ì´ 0, ë¶„ì‚°ì´ 1ì´ ë˜ë„ë¡ ìŠ¤ì¼€ì¼ë§í•©ë‹ˆë‹¤. í‘œì¤€í™” ì§„í–‰ ì‹œ ëª¨ë“  íŠ¹ì„±ë“¤ì´ ê°™ì€ ìŠ¤ì¼€ì¼ì„ ê°–ê²Œ ë©ë‹ˆë‹¤.

<img src='https://drive.google.com/uc?export=download&id=1zSYnFgTTECCnFq75zxkLMmA6DOTyK4T4' width="" height ="" /><br>
ì¶œì²˜: https://jaaamj.tistory.com/20

In [8]:
from sklearn.preprocessing import StandardScaler

St_scaler = StandardScaler()

income_total_Standard_scaled = St_scaler.fit_transform(pd.DataFrame(train['income_total']))
print(income_total_Standard_scaled)

[[ 0.1491363 ]
 [ 0.59084783]
 [ 2.57854975]
 ...
 [ 1.03255937]
 [-0.16006178]
 [-1.04348485]]

### 3.2.1 MinMaxScaler

ì •ê·œí™”ë¼ê³ ë„ í•˜ë©°, ë°ì´í„°ê°€ 0ê³¼ 1ì‚¬ì´ì— ìœ„ì¹˜í•˜ë„ë¡ ìŠ¤ì¼€ì¼ë§í•©ë‹ˆë‹¤. ì´ìƒì¹˜ê°€ ì¡´ì¬í•  ê²½ìš° ìŠ¤ì¼€ì¼ë§ ê²°ê³¼ê°€ ë§¤ìš° ì¢ì€ ë²”ìœ„ë¡œ ì••ì¶•ë  ìˆ˜ ìˆìœ¼ë¯€ë¡œ ì´ìƒì¹˜ì— ë¯¼ê°í•©ë‹ˆë‹¤.

<img src='https://drive.google.com/uc?export=download&id=1aVOEbkx7qxLpHxw9XLFGmYGdBJSoDeCr' width="" height ="" /><br>
ì¶œì²˜: https://jaaamj.tistory.com/20

In [7]:
from sklearn.preprocessing import MinMaxScaler

MM_scaler = MinMaxScaler()

income_total_scaled = MM_scaler.fit_transform(pd.DataFrame(train['income_total']))
print(income_total_scaled)

[[0.11337209]
 [0.14244186]
 [0.27325581]
 ...
 [0.17151163]
 [0.09302326]
 [0.03488372]]

---

### Inst.
ìœ„ì—ì„œ ë°°ìš´ ë‚´ìš©ë“¤ì„ ëª¨ë‘ í™œìš©í•˜ì—¬ ì „ì²´ ë°ì´í„°ì— ëŒ€í•´ ì „ì²˜ë¦¬ë¥¼ ì§„í–‰í•´ë³´ì„¸ìš”.

### Hint.
ìˆ˜ì¹˜í˜• ë³€ìˆ˜ ì—´ê³¼ ë²”ì£¼í˜• ë³€ìˆ˜ ì—´ì€ ë‚˜ëˆ„ì–´ì„œ ë”°ë¡œ ì²˜ë¦¬í•´ì£¼ì–´ì•¼ í•©ë‹ˆë‹¤.

### Solution.

In [ ]:
#í•„ìš”í•œ ëª¨ë“ˆ ë¶ˆëŸ¬ì˜¤ê¸°
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd   
import matplotlib.pyplot as plt
import seaborn as sns
import itertools

from sklearn.model_selection import train_test_split

# ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸° 
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

#ê²°ì¸¡ì¹˜ ì²˜ë¦¬
train=train.drop('occyp_type', axis=1)
test=test.drop('occyp_type', axis=1)

#ë²”ì£¼í˜•_ì´ì§„ ë³€ìˆ˜ ì²˜ë¦¬
train['gender'] = train['gender'].replace(['F','M'],[0,1])
test['gender'] = test['gender'].replace(['F','M'],[0,1])

train['car'] = train['car'].replace(['N','Y'],[0,1])
test['car'] = test['car'].replace(['N','Y'],[0,1])

train['reality'] = train['reality'].replace(['N','Y'],[0,1])
test['reality'] = test['reality'].replace(['N','Y'],[0,1])

#ë²”ì£¼í˜• ë³€ìˆ˜ ì²˜ë¦¬
train.loc[train['child_num'] >= 2,'child_num']=2
test.loc[test['child_num']>=2, 'child_num']=2

train['income_total'] = train['income_total'].astype(object)
train['income_total'] = train['income_total']/10000 
test['income_total'] = test['income_total']/10000

#ë²”ì£¼í˜• ë³€ìˆ˜ ì²˜ë¦¬_ë ˆì´ë¸” ì¸ì½”ë”©
from sklearn import preprocessing
label_encoder=preprocessing.LabelEncoder()

train['income_type']=label_encoder.fit_transform(train['income_type'])
test['income_type']=label_encoder.transform(test['income_type'])

train['edu_type']=label_encoder.fit_transform(train['edu_type'])
test['edu_type']=label_encoder.transform(test['edu_type'])

train['family_type']=label_encoder.fit_transform(train['family_type'])
test['family_type']=label_encoder.transform(test['family_type'])

train['house_type']=label_encoder.fit_transform(train['house_type'])
test['house_type']=label_encoder.transform(test['house_type'])

train['income_total']=label_encoder.fit_transform(train['income_total'])
test['income_total']=label_encoder.fit_transform(test['income_total'])

#ë§ˆì´ë„ˆìŠ¤ë¡œ í‘œí˜„ëœ ì—°ì†í˜• ë³€ìˆ˜ ì²˜ë¦¬
def make_bin(variable, n):
    train[variable]=-train[variable]
    test[variable]=-test[variable]
    count, bin_dividers =np.histogram(train[variable], bins=n) #trainì˜ êµ¬ê°„í™”ë¥¼ ì ìš©
    bin_names=[str(i) for i in range(n)]
    train[variable]=pd.cut(x=train[variable], bins=bin_dividers, labels=bin_names, include_lowest=True)
    test[variable]=pd.cut(x=test[variable], bins=bin_dividers, labels=bin_names, include_lowest=True)
    test[variable].fillna(str(0), inplace=True) #testì—ëŠ” ì—†ëŠ” ê²ƒì„ ì„ì˜ì˜ ê°’ìœ¼ë¡œ ì±„ì›€
   
    train[variable]=label_encoder.fit_transform(train[variable])
    test[variable]=label_encoder.transform(test[variable])

make_bin('DAYS_BIRTH', n=10)
make_bin('DAYS_EMPLOYED', n=6)
make_bin('begin_month', n=4)

ìœ„ì˜ ì „ì²˜ë¦¬ ê³¼ì •ì€ í•œ ê°€ì§€ ì˜ˆì‹œì¼ ë¿ì…ë‹ˆë‹¤.

ë°°ìš´ ë‚´ìš©ì„ í™œìš©í•˜ì—¬ ë‹¤ì–‘í•˜ê²Œ ì „ì²˜ë¦¬ë¥¼ ì§„í–‰í•´ë³´ì„¸ìš”!

# Outro

ì ì´ë ‡ê²Œ ì´ë²ˆì‹œê°„ì— ë°°ìš¸ ë‚´ìš©ì´ ëª¨ë‘ ëì´ ë‚¬ìŠµë‹ˆë‹¤!ğŸ˜‡

ë¶„ëŸ‰ì´ ë§ë‹¤ê³  ëŠê»´ì§ˆ ìˆ˜ ìˆì§€ë§Œ ë°ì´í„° ë¶„ì„ì˜ ì´ˆì„ì´ ë˜ëŠ” ë§¤ìš° ì¤‘ìš”í•œ ë‚´ìš©ë“¤ì´ë¯€ë¡œ ë³µìŠµ ì—´ì‹¬íˆ í•˜ì‹œê¸¸ ë°”ë„ê²Œìš”.ğŸ˜ŠğŸ˜Š

ë‹¤ìŒ ì‹œê°„ì—ëŠ” ë³¸ê²©ì ìœ¼ë¡œ ëª¨ë¸ë§ì— ëŒ€í•´ ë°°ì›Œë³´ë„ë¡ í•˜ê² ìŠµë‹ˆë‹¤.

ë‹¤ìŒ ì‹œê°„ì— ë§Œë‚˜ìš”!

ì•ˆë…•~ğŸ¥³ğŸ¥³