# Stage1

# 1. Intro
<img src='https://drive.google.com/uc?export=download&id=1RhYU0LuzaQJW63dlMyLJpJ5YpyFM0a0c' width="" height ="" /><br>


우리는 일상에서 다양한 종류의 데이터들을 어디에서든 만날 수 있습니다. 그 중에서도 하루에 한번은 꼭 마주치는게 있죠!! 바로 금융 데이터입니다.


우리는 신용카드, 체크카드, 교통카드 할것 없이 돈이 흘러가는 과정을 직,간접적으로 경험하고 있습니다. 

이렇게나 일상에 밀접한 데이터를 다룰 수 있다니 정말 설레지 않나요?

이러한 데이터를 기반으로 분석의 가장 기초부터 심화버전 까지 모두 경험할 수 있는 사용자의 신용카드 대금 연체 정도를 예측 프로젝트를 소개합니다!

<p style='text-align: right;'> 2023.01 </p>

---
####  세상의 모든 데이터 중에서도 금융에 관련된 <font color="coral">**사용자의 신용카드 대금 연체 정도를 예측**</font>에 참여하신 데이커 여러분, 환영합니다.🙋🏻

카드사에서는 고객의 편의를 위해 다방면으로 서비스를 제공하고 있습니다.고객에게 차별없는 서비스를 제공하기 위해서는 비즈니스 의사결정을 위해 많은 노력을 기울여야겠지요. 

실제로 현재 많은 금융업계에서는 머신러닝과 인공지능을 활용해 금융 서비스를 구현하고자 합니다.

본 교육 자료를 통해 **<font color="green">데이터를 기반으로 비즈니스 문제의 솔루션을 제공</font>**하며 멋진 데이터 사이언티스트로 성장해보세요!

---

# 2. 프로젝트 배경 
<font color="grey">[그림1] "21년도 카드대출 연체율과 19년 비교 20대의 카드대출 연체액</font>
<img src='https://drive.google.com/uc?export=download&id=1YveZhsY1sO_pJwy_poX0tgjXQxFRn5OF' width="" height ="" /><br>
그렇다면 고객의 정보만으로 신용카드 대금 연체 정도를 예측할 수 있다면 기업에게 얼마나 도움이 될까요?   

카드 대금 연체로 인한 카드사의 손해를 예방 할 뿐만 아니라 선제적인 조치를 통해 고객의 신용불량률 감소 등에도 도움을 줄 수 있을 겁니다.

이렇게 비즈니스 의사결정에는 고객의 데이터를 분석하는 과정이 반드시 필요하기 마련이고, 여러분도 충분히 이러한 인사이트를 도출할 수 있습니다!

자 이제 프로젝트를 본격적으로 시작해봅시다! 🤗

---

# 3. 데이터 살펴보기
## 3.1. 데이터 불러오기
분석을 진행하기 앞서 사용할 데이터를 먼저 확인해야 합니다.

데이터 분석을 요리와 비교했을때 본 단계는 요리를 시작하기 앞서 어떤 재료를 사용하는지 알아가는 단계라고 할 수 있습니다.

이처럼 분석에 사용될 데이터가 어떠한 형태를 띄고 있는지, 데이터의 내용은 어떻게 되는지, 행과 열은 어떤 식으로 구성되어 있는지를 파악할 수 있어야 앞으로의 분석 방향을 정할 수 있습니다.

본 프로젝트에서 제공하는 csv 파일은 총 3가지 입니다.

    1. train.csv: 데이터 분석 모델을 학습(train)하기 위해 사용하는 데이터 
    2. test.csv: 데이터 분석 모델을 통해 정답을 예측하기 위해 사용하는 데이터
    3. sample_submission.csv: 예측한 정답 값을 기록하여 제출하기 위한 샘플 정답 파일
    
위와 같은 데이터 파일을 불러오기 위해서는 pandas 패키지가 필요합니다. pandas는 데이터 처리와 분석을 위한 기본 라이브러리입니다.

먼저 pandas 패키지를 불러오고 `read_csv()` 함수를 사용해 데이터를 가져오겠습니다!

<font color="coral">**pandas를 처음 접하는 분들은 데이콘에서 제공하는 입문 과정을 먼저 수료하고 오시면 더욱 원활하게 프로젝트를 진행할 수 있습니다!**</font>

In [2]:
# pyhon 기본 함수인 import를 이용해 pandas 라이브러리를 가져오고 이름을 명명하기
import pandas as pd

# submission 객체 'sample_submission.csv' 파일을 할당 
submission = pd.read_csv('sample_submission.csv')

먼저 패키지를 불러오기 위해 import 함수를 사용해 봅시다.

> <font color="green">**"import"**</font> 패키지명 <font color="green">**"as"**</font> 약어  

> <font color="green">**"import"**</font> 명령어는 설치된 "pandas" 패키지를 불러와서 실행할 수 있게 대기 상태로 만들어 주는 명령어입니다.  
> <font color="green">**"as"**</font> 명령어는 "alias"의 약자로, "pandas"를 사용할 때마다 긴 이름을 적기 귀찮으니 이름을 줄이는 목적으로 사용됩니다. 특히나 많이 사용할 패키지를 이렇게 약자로 표시합니다. "pandas"의 경우에는 "pd"라고 명시하는 것을 암묵적인 룰이라고 생각해주세요 :) </br>

---

다음으로 csv 파일을 불러오기 위해 pandas 함수 중 "read_csv"를 사용하여 데이콘에서 제공한 샘플 데이터를 "submission"이라는 이름으로 저장합니다. 이 것을 객체(이름)에 할당(저장)한다고 표현합니다.

> <font color="green">**read_csv("`파일 위치/파일명.확장자명`")**</font>

>read_csv() 함수는 ('파일이 있는 위치/파일명.확장자명') 의 형식을 받아 데이터를 불러옵니다.  
>현재 코드가 실행되고 있는 파일(.ipynb)과 불러오고 싶은 데이터 파일(.csv)은 동일한 위치에 존재합니다.    
>이런 경우에 read_csv() 함수는 파일이 있는 위치를 생략하고 (‘파일명.확장자명’) 의 형식을 받아 데이터를 불러올 수 있습니다.    

  
**이제 키보드에 손을 올리고 데이터를 불러와 봅시다!!**

### Inst.
분석에 사용할 데이터를 한번 불러와 봅시다.

- pandas 패키지를 pd라는 별칭으로 import하세요
- sample_submission.csv 파일을 submission이라는 객체에 할당하세요
- submission 파일을 출력해보세요

In [ ]:
# pandas를 불러 오세요

# csv 파일을 submission에 할당하세요

# submission 파일을 출력해보세요

### Hint.
read_csv() 함수는 pandas 패키지 안에 있기 때문에 pd. 을 먼저 입력해주어야 합니다.

### Solution.

In [3]:
import pandas as pd

submission = pd.read_csv('sample_submission.csv')

submission

      index  0  1  2
0     26457  0  0  0
1     26458  0  0  0
2     26459  0  0  0
3     26460  0  0  0
4     26461  0  0  0
...     ... .. .. ..
9995  36452  0  0  0
9996  36453  0  0  0
9997  36454  0  0  0
9998  36455  0  0  0
9999  36456  0  0  0

[10000 rows x 4 columns]

---

## 3.2. 데이터 확인

데이터가 잘 불러와졌는지 확인해봅시다.

먼저 `head()` 메서드를 사용해 데이터를 확인합니다.

다음 `info()` 입니다. 해당 메서드는 불러온 데이터의 전반을 요약해줍니다. 데이터의 타입이나 용량을 확인할 수 있으며, **결측치**를 찾는데 매우 용이합니다. 


- head( ) : 처음 5행 선택    
\* (숫자)를 넣으면 지정 숫자만큼의 행을 선택할 수 있습니다.

- info( ) : 데이터 변수들의 타입 및 결측치 확인

그럼 데이터가 어떻게 생겼는지 이 두 가지 메소드를 이용하여 직접 확인해 보세요!

In [4]:
# 데이터 상위 5개 행 출력
submission.head()

   index  0  1  2
0  26457  0  0  0
1  26458  0  0  0
2  26459  0  0  0
3  26460  0  0  0
4  26461  0  0  0

### Inst.
- 데이터프레임의 첫 5행을 뽑아보세요
- 데이터들의 타입을 출력해보세요

In [ ]:
# 상위 5개 행을 출력하세요

# 데이터 전반의 요약을 출력하고, 각 데이터가 어떤 타입인지 확인해 보세요! 더불어 행열 개수도 확인해보세요

### Hint.
해당 메서드들은 데이터 프레임에 대해 적용하기 때문에 `dataframe명.메서드` 로 사용할 수 있습니다.

### Solution

In [7]:
submission.head()

   index  0  1  2
0  26457  0  0  0
1  26458  0  0  0
2  26459  0  0  0
3  26460  0  0  0
4  26461  0  0  0

In [5]:
submission.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   10000 non-null  int64
 1   0       10000 non-null  int64
 2   1       10000 non-null  int64
 3   2       10000 non-null  int64
dtypes: int64(4)
memory usage: 312.6 KB

sample_submission 데이터는 `index`, `0`, `1`, `2` 총 4가지 Column으로 구성되어 있습니다. Column명이 무엇을 의미하는지는 항상 데이터 설명을 참고하시기 바랍니다!!! </br>지금과 같은 경우에는 사용자의 신용카드 대금 연체를 기준으로 한 신용도를 나타내고, 값이 낮을 수록 높은 신용의 신용카드 사용자를 의미합니다.</br>  

sample_submission을 살펴보며 본 프로젝트에서는 각 사용자들의 신용도를 예측해야 되는 것을 알 수 있습니다.

**최종적으로 모두 0으로 채워진 submission 파일을 유저별로 0인지 1인지 2인지 예측한 값으로 채우면 되겠습니다.**

---

# 4. 제출 준비하기

이제 제출준비를 해보겠습니다.

<font color=coral>**천리길도 한걸음부터**</font> 라는 말이 있습니다. 천리길을 가려면 먼저 한 걸음을 내딛어야겠지요? </br>이번 스테이지에서는 무언가 시도했다! 라는 결과물을 먼저 내봅시다. </br>

스테이지가 지나며 여러분의 점수는 점점 올라갈 것이고, 그럼 더욱 짜릿하겠죠!! 😆😆
  
to_csv 메소드를 이용해 submission을 **submission.csv**로 저장해 제출해 보겠습니다.
> <font color="green">**to_csv("`파일위치/파일명.확장자명`, `index = boolean`")**</font>

> <font color="green">**to_csv**</font>메소드는 객체에 할당된 DataFrame을 csv로 내보내는 역할을 합니다. 따라서 객체에 적용시키기 위해 `DataFrame명.to_csv()`로 시작합니다.  
> 그 다음 <font color="green">**파일위치와 파일명**</font>은 read_csv와 다르게 `어떤 위치에 어떤 이름으로 내보낼 것`인지 정하게 됩니다.  
> <font color="green">**index인자**</font>는 해당 파일에 index를 설정할 것인지 아닌지 `True / False`를 적용해 선택할 수 있습니다.

**이처럼 파일을 불러서 처리한 후, 저장하는 일련의 과정을 "데이터 i/o(input/output)를 처리한다" 라고 합니다.   
분석 결과를 제출하기 위해서는 꼭 필요한 과정입니다.**

In [ ]:
submission.to_csv('submission.csv', index=False)

### Inst.

- to_csv 메소드를 이용하여 submission 객체의 내용을 csv 파일 형태로 만들어보세요.   
    index=False를 하여 추가적인 인덱스 설정을 하지 마세요.(정확한 채점을 위해서 index=False를 꼭 넣어 주세요.)

In [ ]:
# submission 파일을 내보내세요

### Hint.
empty

### Solution.
empty

---

# Outro

데이터 분석의 첫걸음을 내딛으신 기분이 어떠신가요?  

저희가 오늘 다루어본 주제는 기초에 불과하지만 여정의 첫 걸음은 가볍게 시작하는 법이지요. 어찌됐던 첫 stage를 마무리 하신 여러분께 박수를 보내드립니다! 👏🏻👏🏻👏🏻

다음 stage 부터는 본격적으로 데이터를 탐구하고, 실무 분석의 기초에대해 살펴 볼 예정입니다!

**다음 시간에 만나요~** 🧑🏻‍💻